*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

.main{
    max-width: 960px;
    min-width: 290px;
    margin: 0 auto;
    height: 100vh;
}

.main-body{
    margin-left:30px;
}

.main-header{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    height: 15vh;
    background: #fff;
    /* background: #F8F8F8 0% 0% no-repeat padding-box; */
    position: fixed;
    border-radius: 12px;
}

.main-header-nav{
    position: relative;
}

.check{
    position: absolute;
    right: 0;
    top: 5vh;
}

.menu-bars,
.menu-bars::before,
.menu-bars::after{
    position: absolute;
    right: 5px;
    display: block;
    width: 25px;
    height: 3px;
    background-color:#2f2828;
    transition: all .2s ease-out;
}

.menu-bars::before{
    content: "";
    top: -7px;
}

.menu-bars::after{
    content: "";
    top: 7px;
}


.main-header-nav-ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #717171;
}


.log{
    display: block;
    padding: 0px 20px;
    padding-top: 5px;
    line-height: 10vh;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    color: #143774;
    font: normal normal normal 33px/42px Lora;
}


.main-header-nav-ul-mobile .item{
    line-height: 10vh;
    padding: 0px 10px;
}

.main-header-nav-ul-mobile .item:hover{
    background-color: #bbb;
    border-radius: 12px;
}


.main-header-nav-ul-mobile{
    display: none;
    flex-direction: column;
    text-align: center;
}

                                                                                                                                                                   

 .checks:checked ~ .main-header-nav-ul-mobile{
    display: flex;
    height: 90vh;
    background: #fff;
}
.checks:checked ~ .menu-bars{
    background: transparent;
}

.checks:checked ~ .menu-bars::before{
    transform: rotate(45deg);
    top: 0;
}

.checks:checked ~ .menu-bars::after{
    transform: rotate(-45deg);
    top: 0;
}

.checks{
    display: none;
}

.options{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 40px auto;
}



.hire-me,
.download-cv{
    display: flex;
    align-items: center;
    border-radius: 20em;
    height: 8vh;
    background-color: #bbb;
    place-content: center;
    font-size: .9rem;
}
    .second{
        display: none;
    }


/* tablet view */
@media all and (min-width:568px){
    .first{
        display: none;
    }
    .options{
        align-items: center;
        position: absolute;
        right: 50px;
        top: 0;
        gap: 5px;
        height: 10vh;
        display: block;
        margin: 0 auto;
    }


    .hire-me,
    .download-cv{
        height: 7vh;
    }
    .options{
        display: grid;
    }
    .main-header-nav-ul-mobile{
        display: flex;
    }

    .main-header-nav-ul-tablet{
        display: none;
        height: 90vh;
        background: #fff;
    }

    .checks:checked  ~ .main-header-nav-ul-tablet{
        display: block;
    }


/* bars for tablet view */

    .menu-bar,
    .menu-bar::before,
    .menu-bar::after{
        position: absolute;
        right: 5px;
        display: block;
        width: 25px;
        height: 3px;
        background-color:#2f2828;
        transition: all .2s ease-out;
    }

    .menu-bar::before{
        content: "";
        top: -7px;
    }

    .menu-bar::after{
        content: "";
        top: 7px;
    }

    .second:checked ~ .menu-bar{
        background: transparent;
    }
    
    .second:checked ~ .menu-bar::before{
        transform: rotate(45deg);
        top: 0;
    }
    
    .second:checked ~ .menu-bar::after{
        transform: rotate(-45deg);
        top: 0;
    }

}

@media screen and (min-width:930px ){
    .first,
    .second{
        display: none;
    }
    .logo{
        order: 1;
    }
    .main-header-nav-ul-tablet{
        display: flex;
        position: absolute;
        top: 0; 
        right: 280px;
    }
    .main-header-nav-ul-tablet li{
        display: inline-block;
        height: fit-content;
    }

    .main-header-nav-ul-tablet li a{
        padding: 0 0px;

    }

    .main-header-nav-ul-mobile{
        background-color: transparent;
        height: 10vh;  
    }

    .options{
        right: 10px;
    }
}


/* 

nav bar ends

*/


.main-body{
    background: #fff;
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;
    grid-template-areas: 
    'home home  home home' 
    'services services services services'
    'works works works works'
    'about about about about'
    'contact contact contact contact'
    'footer footer footer footer'
    ;
}

.home,
.services,
.works,
.about-me,
.contact-me{
    width: 90%;
    /* margin:0 auto; */
}


.home{
    grid-area: home;
    
}

.services{
    grid-area: services;
}

.works{
    grid-area: works;
}

.about-me{
    grid-area: about;
}

.contact-me{
    grid-area: contact;
}

.footer{
    grid-area: footer;
    height: 172px;
    background: #143774 0% 0% no-repeat padding-box;
}

.footer-last{
    position: fixed;
    background-color: red;
    width: 100%;
    height: 200px;
    z-index: 1;
}

/* home */
.home{
    display: flex;
    justify-content: center;
    height: 500px;
}

.download{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.download  a{
    display: block;
    width: 150px;
    height: 55px;
    margin-top: 25px;
   line-height: 45px;
}
@media screen and (min-width:568px){
    .download {
        display: none;
    }
}
/* tablet and more */


.personal-image{
    grid-area: personal-image;
}


/* services default */

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'web web web'
    'phone phone phone'
    'app app app'
    'consult consult consult'
    ;
}

/* services for tablet view */
@media all and (min-width:568px){
    .services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: 
    'web phone'
    'app consult'
    ;
}
}
/* services for computer view */

@media all and (min-width:938px){
    .services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'web phone app '
    'consult . .'
    ;
}
}

.web{
    grid-area: web;
}

.phone{
    grid-area: phone;
}

.app{
    grid-area: app;
}

.consult{
    grid-area: consult;
}


/* about default*/

.about-me{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-template-areas: 
    'personal'
    'about-content'
    ;

}
/* about for tablet view */
@media all and (min-width:930px){
    .about-me{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-template-areas: 
        'personal about-content '
        ;
    
    }
}

.personal{
    grid-area: personal;
}


.about-content{
    grid-area:about-content;
}


/* contact me default */

.contact-me{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto, auto);
    grid-template-areas: 
    'send-message'
    ;
}

/* contact for tablet view */

.some-image{
    display: none;
    grid-area: some-image;
}

@media all and (min-width:568px){
    .contact-me{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-template-areas: 
        'send-message'
        ;
    }

    .some-image{
        display: none;
        grid-area: some-image;
        display: none;
    }
}


@media all and (min-width:930px){
    .contact-me{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-template-areas: 
        'some-image send-message send-message'
        ;
    }
    .some-image{
        grid-area: some-image;
        display: flex;
    }
}



.send-message{
    grid-area: send-message;
}




/* designs */

.personal-image,
.home-content, 
.web,
.app,
.phone,
.consult{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 15px;
}


h2,
span{
    text-align:left;
}


.personal-image{
    height: 300px;
    background: url(./images/michael.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #bbbbbb61;
    margin-top: 20px;
    align-self: center;
}

.works,
.services,
.about-me,
.contact-me,
.home{
    padding-bottom:20px ;
    margin-bottom:20px ;
    border-bottom: 1.5px solid #bbb;
    border-radius: 12px;
}
h3{
    margin-top: 5px;
}



.services img{
    display: block;
    width: 40%;
    height: 95px;
    align-self: center;
    border-radius:30% 70% 66% 34% / 43% 40% 60% 57%;
}

p:not(.home-content p){
    margin: 20px 0;
}

button{
    width: 50%;
    align-self: center;
    border-radius:16px;
    padding: 5px 0;
}






.main-body a{
    display: block;
    color: black;
    padding: 5px 0;
    font-size: .9rem;
}

.sub-tittle{
    display: flex;
    justify-content: center;
    color: red;
}

.tittle{
    font-size: 2.5rem;
}

span,
.contents-para{
    font-size: 1.1rem;
    font-weight: 400;
}

/* styling contact me */
.lets-talk{
    margin: 20px 0;
}



.input,
textarea{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

textarea{
    text-align: left;
    padding: 5px;
}

.input{
    height: 40px; 
}

.send{
    width: 30%;
    height: 40px;
}

/* styling about me */

.about-me ul li{
    display: block;
    list-style: none;
    display: inline-block;
    background-color: #bbb;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 5px;
    line-height: 50px;
    border-radius: 12px;
}

.about-me .personal ul li{
    display: block;
    text-align: left;
    width: 400px;
    margin:0;
    background-color: transparent;
}

.contact-me .some-image .fa-brands{
    display: block;
    color: #bbb;
    font-size: 15rem;
    align-self: center;
    padding-right:20px ;
}

/* styling works */

.web-works ul,
.app-works ul,
.phone-works ul{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:568px){
    .web-works ul,
    .app-works ul,
    .phone-works ul{  
    display: block;
}

}



.works ul li{
    list-style: none;
    display: inline-block;
    width: 170px;
    height: fit-content;
    text-align: center;
    margin:  25px 20px;
    border-radius: 12px;
}
.works ul li p{
    padding: 0;
    margin: 0;
}

.works ul li img{
    display: block;
    width: 150px;
    height: 160px;
    border-radius:12px ;
    align-self: center;
}
